In [64]:
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [65]:
df = pd.read_csv('/Users/mille/Desktop/ACobalt.csv')

In [66]:
df.head()

,position,rec_id,year,country,commodity,location,fac_name,latitude,longitude,op_comp,maininvest,othinvest,status,capacity,units,notes,cite
0,794,5821,2003,Morocco,cobalt,Bou Azzer,NaN,30.570,-5.86,Cie de Tifnout Tiranimine,NaN,NaN,active,"17,000",t / yr,NaN,851
1,795,5822,2003,Morocco,cobalt,"Douar Hajar Mine, Guemassa, Marrakech",NaN,31.380,-8.08,Compagnie Minière de Guemassa (CMG) (Managem ...,NaN,NaN,active,"18,000",t / yr,NaN,851
2,796,5823,2003,Morocco,cobalt,"Guemassa, Marrakech",NaN,31.410,-8.40,"Charbonnages du Maroc (BRPM, 98.89%)",NaN,NaN,active,"1,400",t / yr,NaN,851
3,797,5824,2003,Morocco,cobalt,Tiouit,NaN,31.160,-5.79,Société de Développement du Cuivre de l'Anti-A...,NaN,NaN,active,"4,500",t / yr,NaN,851
4,1463,6490,2003,Uganda,cobalt,Kasese (Krystal Dunrobin),NaN,0.167,31.10,"Kasese Cobalt (Blue Earth Refineries Ltd., 75%)",NaN,NaN,active,"1,000",t / yr,NaN,851

In [67]:
m = folium.Map([30, -7.0], zoom_start=4)
m
# Russia lat long

In [103]:
for index, row in df.iterrows():
    folium.Marker([row['latitude'], row['longitude']], 
                  popup=row['location'],
                  icon=folium.Icon(icon='green')
                 ).add_to(m)
m
m.save('/Users/mille/AfricaCobalt.html')

In [104]:
Au = pd.read_csv('/Users/mille/Desktop/AuCobalt.csv')
Au.head()

,position,rec_id,year,country,commodity,location,fac_name,latitude,longitude,op_comp,maininvest,othinvest,status,capacity,units,notes,cite
0,109,109,2007,Australia,Cobalt,"27 kilometers south of Karratha, Western Austr...",Radio Hill underground nickel-cobalt mine,-20.98,116.86,Fox Resources Ltd.,"Fox Resources Ltd., 100%",NaN,Active,200,metric tons per year,NaN,847
1,110,110,2007,Australia,Cobalt,"30 kilometers east of Kalgoorlie, Western Aust...",Bulong open pit nickel-cobalt mine,-30.69,121.82,Preston Resources Ltd.,"Preston Resources Ltd., 100%",NaN,Active,200,metric tons per year,NaN,847
2,111,111,2007,Australia,Cobalt,"50 kilometers northwest of Kalgoorlie, Western...",Cawse open pit nickel-cobalt mine,-30.53,121.24,Norilsk Nickel Mining and Metallurgical,"Norilsk Nickel Mining and Metallurgical, 100%",NaN,Active,100,metric tons per year,NaN,847
3,112,112,2007,Australia,Cobalt,"Townsville, Queensland",Yabulu nickel-cobalt refinery,-19.20,146.61,BHP Billiton Ltd.,"BHP Billiton Ltd., 100%",NaN,Active,3,thousand metric tons per year,NaN,847
4,113,113,2007,Australia,Cobalt,"60 kilometers east of Leonora, Western Australia",Murrin Murrin open pit nickel-cobalt mine,-28.76,121.92,Minara Resources Ltd.,"Minara Resources Ltd., 60%","Glencore Australia Pty. Ltd. International AG,...",Active,2,thousand metric tons per year,NaN,847

In [105]:
m1 = folium.Map([-20, 116], zoom_start=4)
m1

In [106]:
for index, row in Au.iterrows():
    folium.Marker([row['latitude'], row['longitude']], 
                  popup=row['location'],
                  icon=folium.Icon(icon='green')
                 ).add_to(m1)
m1
m1.save('/Users/mille/AuCobalt.html')

In [107]:
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Eu = pd.read_csv('/Users/mille/Desktop/EuCobalt.csv')
Eu.head()

,position,rec_id,year,country,commodity,location,fac_name,latitude,longitude,op_comp,maininvest,othinvest,status,capacity,units,notes,cite
0,99,2492,2007,Belgium,Cobalt,Olen,Refinery at Olen,51.18,4.89,NV Umicore SA,"Sté. Générale de Belgique, 50.2%",NaN,Active,0.5,thousand metric tons per year,NaN,849
1,422,2815,2006,France,Cobalt,"Sandouville, near Le Havre","Plant at Sandouville, near Le Havre",49.48,0.32,Société Métallurgique le Nickel (SLN),NaN,NaN,Active,600.0,metric tons per year,NaN,849
2,1014,3407,2007,Norway,Cobalt,Kristiansand,Smelter at Kristiansand,58.14,7.97,Nikkelverk A/S,"Falconbridge Nickel Mines Ltd., 100%",NaN,Active,5.0,thousand metric tons per year,NaN,849

In [108]:
m5 = folium.Map([50.0, 5.0], zoom_start=2)
m5

In [109]:
for index, row in Eu.iterrows():
    folium.Marker([row['latitude'], row['longitude']], 
                  popup=row['location'],
                  icon=folium.Icon(icon='green')
                 ).add_to(m5)
m5
m5.save('/Users/mille/Eu_Map.html')